/*
NAME: COREY DAVIS
DATE: 09/19/2021
CLASS: WEB DEV 1 M/W 11AM
*/
body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-style: normal;
  font-family: serif;
}

.inputboxes {
  display: block;
  width: 240px;
  text-align: center;
  font-size: 15px;
}

.socialmediabumper {
  margin: 25px;
}

li:hover {
  background-color: black;
  color: white;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a {
  display: inline-block;
  margin: 8px;
}

.largeimg {
  width: 460px;
}

.logo {
  width: 100px;
  display: inline-block;
}

.lineupcenter {
  text-align: center;
}

.container {
  padding: 30px;
  margin: 14px;
}

borderfield {
  border-style: solid;
}

fieldset {
  border-style: none;
  margin: auto;
}

@media screen and (min-width: 560px) {
  ul {
    display: inline;
  }

  .largeimg {
    width: 740px;
  }

  .container {
    display: block;
    width: 100%;
    padding: 15px;
  }

  .inputboxes {
    display: block;
    width: 500px;
    text-align: center;
    font-size: 20px;
  }
}

@media screen and (min-width: 760px) {
  li {
    display: inline-block;
  }

  .largeimg {
    width: 940px;
  }

  .inputboxes {
    display: block;
    width: 700px;
    text-align: center;
    font-size: 20px;
  }

  body {
    background-image: url("background.jpg");
    background-size: cover;
  }

  fieldset {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media screen and (min-width: 960px) {
  .largeimg {
    width: 1070px;
  }

  .inputboxes {
    display: block;
    width: 900px;
    text-align: center;
    font-size: 24px;
  }

  h1 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }
}
